/*
Typography
=========================== */

/* main-color: #b09643 */

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700');
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    position: relative;
    font-size: 14px;
    color: #54555d
}

a {
    color: #54555d;
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3f3f3f;
    margin: 0 0 15px 0;
    font-family: 'Cairo', sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    margin-bottom: 10px;
}

.section {
    padding: 70px 0;
    position: relative;
}

ul {
    padding-right: 0
}
button:focus{
    outline: none
}

.hesperiden.tparrows:before,
.tparrows:before {
    font: normal normal normal 20px/1 FontAwesome;
    padding: 10px;
}

.hesperiden.tparrows.tp-leftarrow:before,
.tparrows.tp-leftarrow:before {
    content: "\f104"
}

.hesperiden.tparrows.tp-rightarrow:before,
.tparrows.tp-rightarrow:before {
    content: "\f105"
}

.btn-simple {
    padding: 0px 17px;
    border: none;
    background: #ffd700;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    min-width: 100px;
    font-size: 16px
}

.btn-simple.hvr-shutter-in-vertical:before {
    background: #ffd700;
    border-radius: 0px
}

.hvr-shutter-out-horizontal:before {
    background: #484848;
    border-radius: 4px
}

/*
Navbar Adjusment
=========================== */

/* Navbar Atribute ------*/

nav.navbar.bootsnav {
    z-index: 99;
    background-color: rgba(36, 44, 51, 0.75);
    border-color: transparent
}

nav.navbar.bootsnav.navbar-fixed-top {
    /* background-color: rgba(255, 255, 255, 0.95); */
}

nav.navbar.bootsnav ul li a,
nav.navbar.bootsnav ul.nav>li>a {
    color: #fff
}
nav.navbar.bootsnav ul li span a {
    color: #484848
}
nav.navbar.bootsnav .navbar-toggle{
    background: transparent;
    color: #fff;
    font-size: 25px
}
@media (min-width: 1024px) {
    .attr-nav>ul>li.dropdown ul.dropdown-menu {
        margin-top: 0;
        margin-left: 55px;
        width: 250px;
        right: -215px;
    }
}

.cartes {
    position: absolute;
    left: 10px;
    top: 10px;
}

.attr-nav>ul>li>a {
    padding: 28px 15px;
}

ul.cart-list>li.total>.btn {
    border-bottom: solid 1px #cfcfcf !important;
    color: #fff !important;
    padding: 10px 15px;
}

@media (min-width: 1024px) {
    /* Navbar General ------*/
    nav.navbar ul.nav>li>a {
        padding: 30px 15px;
        font-weight: 600;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px;
    }
    /* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
        margin: 0 !important;
    }
    /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
        margin: 10px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        position: relative;
        top: -15px;
    }
    /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav,
    nav.navbar-sidebar .navbar-brand {
        margin-bottom: 50px;
    }
    nav.navbar-sidebar ul.nav>li>a {
        padding: 10px 15px;
        font-weight: bold;
    }
    /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
        background-color: rgba(255, 255, 255, 0.3);
        border-bottom: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #555;
    }
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
        border-left: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #555;
    }
    nav.navbar.bootsnav.no-background.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a,
    nav.navbar.bootsnav.no-background.white ul.nav>li>a {
        color: #fff;
    }
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav>li>a {
        color: #eee;
    }
}

@media (max-width: 992px) {
    /* Navbar General ------*/
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: -2px;
    }
    nav.navbar .navbar-brand img.logo {
        width: 30px;
    }
    .attr-nav>ul>li>a {
        padding: 16px 15px 15px;
    }
    /* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav>li>a {
        padding: 15px 15px;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu>li>a {
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        top: 0;
        padding-top: 10px;
    }
}

/* Navbar Inverse
=================================*/

nav.navbar.navbar-inverse {
    background-color: #222;
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li.total>.btn {
    border-bottom: solid 1px #222 !important;
}

nav.navbar.navbar-inverse ul.cart-list>li.total .pull-right {
    color: #fff;
}

nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav>li>a {
    color: #eee;
}

nav.navbar.navbar-inverse ul.nav>li.dropdown>a {
    background-color: #222;
}

nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu>li>a {
    color: #999;
}

nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
    color: #fff;
}

nav.navbar.navbar-inverse .form-control {
    background-color: #333;
    border-color: #303030;
    color: #fff;
}

nav.navbar.navbar-inverse .attr-nav>ul>li>a {
    color: #eee;
}

nav.navbar.navbar-inverse .attr-nav>ul>li.dropdown ul.dropdown-menu {
    background-color: #222;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li {
    border-bottom: solid 1px #303030;
    color: #eee;
}

nav.navbar.navbar-inverse ul.cart-list>li img {
    border: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li.total {
    background-color: #333;
}

nav.navbar.navbar-inverse .share ul>li>a {
    background-color: #555;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a {
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
    border-left: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li.active>a {
    background-color: #333 !important;
}

nav.navbar-inverse.navbar-full ul.nav>li>a {
    border: none;
}

nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
    background-color: #222;
}

nav.navbar-inverse.navbar-full .navbar-toggle {
    background-color: #222 !important;
    color: #6f6f6f;
}

@media (min-width: 1024px) {
    nav.navbar.navbar-inverse ul.nav .dropdown-menu {
        background-color: #222 !important;
        border-left: solid 1px #303030 !important;
        border-bottom: solid 1px #303030 !important;
        border-right: solid 1px #303030 !important;
    }
    nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu>li>a {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu {
        border-left: solid 1px #303030;
        border-right: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #999;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #999;
    }
    nav.navbar.navbar-inverse.no-background.white .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav>li>a,
    nav.navbar.navbar-inverse.no-background.white ul.nav>li>a {
        color: #fff;
    }
    nav.navbar.navbar-inverse.no-background.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.no-background.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav>li>a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav>li>a {
        color: #3f3f3f;
    }
}

@media (max-width: 992px) {
    nav.navbar.navbar-inverse .navbar-toggle {
        color: #eee;
        background-color: #222 !important;
    }
    nav.navbar.navbar-inverse .navbar-nav>li>a {
        border-top: solid 1px #303030;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu>li>a {
        color: #999;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title {
        border-bottom: solid 1px #303030;
        color: #eee;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul>li>a {
        border-bottom: solid 1px #303030;
        color: #999 !important;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul {
        border-top: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse {
        background-color: #222;
    }
}

@media (max-width: 767px) {
    nav.navbar.navbar-inverse.navbar-mobile ul.nav {
        border-top: solid 1px #222;
    }
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
    text-align: right;
    color: #fff;
}

nav.bootsnav .megamenu-content .title {
    margin-top: 0;
    color: #fff;
    font-size: 20px;
}

.rev_slider_wrapper {
    z-index: 121212;
}

/*
Color
=========================== */

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list>li>h6>a,
.attr-nav>ul>li>a:hover,
.attr-nav>ul>li>a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on>a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on>a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on>a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on>a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav>li>a:hover,
nav.navbar ul.nav>li.active>a:hover,
nav.navbar ul.nav li.active>a,
nav.navbar li.dropdown ul.dropdown-menu>li a:hover {
    color: #ffd700;
}

nav.navbar.navbar-transparent ul.nav>li>a:hover,
nav.navbar.no-background ul.nav>li>a:hover,
nav.navbar ul.nav li.scroll.active>a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu>li>a:hover,
nav.navbar ul.nav li.dropdown.on>a,
nav.navbar-dark ul.nav li.dropdown.on>a {
    color: #ffd700 !important;
}

@media(max-width:920px) {
    nav.navbar .dropdown .megamenu-content .col-menu ul>li>a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover {
        color: #ffd700 !important;
    }
}

/*
Border
=========================== */

ul.cart-list>li.total>.btn {
    border-color: #ffd700;
}

nav.navbar li.dropdown ul.dropdown-menu {
    border-top-color: #ffd700 !important;
}

/*
Background
=========================== */

ul.cart-list>li.total>.btn,
.attr-nav>ul>li>a span.badge,
nav.navbar .share ul>li>a:hover,
nav.navbar .share ul>li>a:focus {
    background-color: #ffd700;
}

ul.cart-list>li.total>.btn:hover,
ul.cart-list>li.total>.btn:focus {
    background-color: #dc3236 !important;
}

/* start topbar */

.top-aside {
    position: relative;
    background: #fcfcfc;
    border-bottom: 1px solid #dddddd;
}

ul.logee {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

ul.logee li {
    float: right;
}

ul.logee a {
    color: #666666;
    text-decoration: none;
    padding: 9px;
    display: inline-block;
    border-left: 1px solid transparent;
}

ul.logee img {
    width: 30px;
    padding-left: 8px;
}

.hotline span {
    text-align: center;
    /* color: #ffd700 ; */
    margin-top: 9px;
    display: inline-block;
}

.hotline span em {
    padding-right: 5px;
    font-style: normal;
    /* color: #ffd700 ; */
}

.hotline span img {
    width: 30px;
    padding-left: 8px;
}

ul.logee.edi {
    float: left;
}

ul.logee.edi li {
    float: left;
}

ul.logee.edi li:last-child span {
    border-right: 1px solid #dddddd;
}

ul.logee li span {
    color: #666666;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid #dddddd;
    display: inline-block;
    cursor: pointer;
}

ul.logee.edi span img {
    width: auto;
}

.top-aside .dropdown img {
    padding-left: 10px;
}

.top-aside .dropdown-menu {
    width: auto;
    box-shadow: none;
}

.top-aside .dropdown-menu {
    width: auto;
    box-shadow: none;
}

ul.logee.edi .dropdown-menu {
    min-width: 108px;
    padding: 0
}

.top-aside .dropdown ul li {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    float: none;
}

ul.logee.edi .dropdown ul li a,
ul.logee .dropdown ul li a {
    padding: 0;
    border: 0;
}

.top-aside .dropdown ul li:hover {
    background: #eee;
}

ul.logee.edi .dropdown ul li a:hover {
    background: transparent
}

/* End topbar */

/* Start navbar */

.main_logo {
    display: block;
    margin-top: 14px;
    font-size: 25px;
    color: #ffd700;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content {
    background: url(../images/mainSlider.jpg) no-repeat center !important;
    width: 100%;
}

/* End navbar */

/* Start Slider */

.slide-info h1 {
    /* font-size: 60px!important; */
    font-weight: bold;
    color: #fff;
    font-family: 'Cairo' !important;
    margin-bottom: 20px
}

.slide-info p {
    font-family: ' Poppins' !important;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.border-white {
    width: 100px;
    margin: 10px auto 30px auto !important;
    background: white;
    height: 2px;
}

.header .slide-info h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    position: relative;
}

.header .slide-info h2:after {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin: 5px 0px;
}

.header .slide-info h2:before {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin: 5px 10px;
}

/* End Slider */

/* Start About_us */

.title-header h1 {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 10px
}

.title-header h1 span {
    color: #ffd700;
}

.border {
    border-top: 1px solid #c1c1c1;
    height: 1px;
    margin: 15px auto 30px;
    position: relative;
    width: 210px;
}

.border:before {
    background-color: #ffd700;
    content: "";
    height: 6px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -3px;
    width: 40px;
}

.about_us {
    background: url(../images/about_slider.jpg) no-repeat fixed center;
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.about_us p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.item-camera {
    position: absolute;
    top: -70px;
    left: 0;
}

/* End About_us */

/* Start services */

.services {
    background: #324256;
}

.services .title-header h1 {
    color: #fff
}

.services_info {
    background-image: url(../images/5.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 700px
}

.services .col-sm-3 {
    margin-top: 115px
}

.title-h5 {
    color: #fff;
    font-size: 20px;
}

.services_info p {
    color: #fff;
    font-size: 14px;
    text-align: justify;
}

.second {
    margin-left: 70px;
}

.fourth {
    margin-right: 70px;
}

.borders {
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center !important;
    margin: auto;
}

.borders i {
    display: block;
    font-size: 40px;
    text-align: center;
    line-height: 66px;
}

/* End services */

/* Start Collection */

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title>a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
    font-size: 15px;
}

.rating--small {
    float: left;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    font-size: 12px;
    color: #777;
    margin-top: 7px;
}

.rating--small .icon {
    margin-top: -3px;
    height: .625rem;
    width: .625rem;
}

.card-body-bottom {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

span.price {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
}

span.price.dis {
    color: #dd3333;
    text-decoration: line-through;
}

button.card-figcaption-button {
    letter-spacing: 0;
    margin: 0;
    transition: none;
    text-indent: -9999px;
    font-size: 0;
    padding: 0 5px;
    border: 0;
    margin-top: 1px;
    background: 0 0;
    text-decoration: none;
    float: left;
    color: #444;
}

.card-figcaption-button:before {
    font-family: fontawesome !important;
    font-style: normal;
    content: "\f217";
    text-indent: 0;
    float: left;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.image {
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    height: 230px;
}

span.new {
    position: absolute;
    top: 8px !important;
    right: 10px;
    background: #343434;
    color: white;
    font-size: 14px;
    padding: 0;
    min-width: 60px;
    text-align: center;
    display: block;
    z-index: 1;
    line-height: 30px;
    border-radius: 20px;
    font-weight: 500;
    height: 30px;
}

.discount-percentage {
    position: absolute;
    top: 45px !important;
    right: 10px;
    background: #018cd1;
    color: white;
    font-size: 14px;
    padding: 0;
    min-width: 60px;
    text-align: center;
    display: block;
    z-index: 1;
    line-height: 30px;
    border-radius: 20px;
    font-weight: 500;
    height: 30px;
}

.img-opacity {
    position: relative;
}

.img-opacity img {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.img-opacity .img-2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.img-opacity .img-2 {
    opacity: 0;
}

.item:hover .img-opacity .img-2 {
    opacity: 1;
}

.image-hover {
    position: relative;
    display: inline-block;
    background: #fff;
    max-width: 100%;
}

/* End Collection */

/* Start newsletter */

.mail-list.blocky {
    background: #018cd1 url(../images/pattern.png);
    padding: 20px 0;
}

.mail-list.blocky p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 16px;
}

.mail-list.blocky p i {
    padding-left: 10px;
    font-size: 24px;
}

.mail-list.blocky p span {
    padding-right: 5px;
    font-size: 14px;
}

.blocky .input-group {
    padding: 10px 0;
    box-shadow: none;
}

.blocky .input-group-btn:last-child>.btn {
    padding: 11px 29px;
    padding-bottom: 11px;
    border-right: 0;
    box-shadow: none;
    background: #018cd1;
    border: 1px solid #018cd1;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.blocky .input-group-btn:last-child>.btn:hover {
    background: #005d8c;
    border: 1px solid #005d8c !important;
}

.mail-list .input-group .form-control {
    height: 46px;
}

/* End newsletter */

/* Start Footer */

.footer .blocks {
    background: #fcfcfc;
    border-top: 1px solid #eee;
}

.block-payment {
    width: auto;
    display: inline-block;
    margin-top: 3px;
    padding: 15px 0;
}

.block-payment ul.list-logo>li {
    display: inline-block;
    list-style: none;
    float: right;
    padding-left: 20px;
}

.footer ul li {
    list-style: none;
    line-height: 218%;
    margin: 0 5px;
}

.block-payment ul.list-logo img {
    display: block;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

.top-links {
    margin-top: 10px;
}

.list-logo {
    padding-right: 0
}

.top-links a:first-child {
    border-right: 1px solid #ccc;
}

.top-links a {
    float: left;
    width: 40px;
    background: #fbfbfb;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    color: #666666;
    border: 1px solid #ddd;
    margin-left: 10px;
    line-height: 40px;
}

.top-links a:hover {
    color: #5a88ca;
    background: #fff;
}

.blocks.info-con {
    background: #f5f5f5;
}

.blocks.info-con .col-md-3 {
    border-left: 1px solid #eee;
}

.blocks.info-con p {
    margin: 15px 0;
    text-align: center;
    font-size: 13px
}

.blocks.info-con p i {
    color: #ffd700;
    padding-left: 10px;
}

.blocks.info-con .col-md-3:last-child {
    border: 0;
}

p.rightous {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}

/* End Footer */

/* Start Scroll */

#scroll-top {
    width: 45px;
    height: 45px;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 10px;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 999;
    border-radius: 0;
    background: #4f4f51;
}

/* Start Scroll */

/* Start loading */

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loading.gif) 50% 50% no-repeat;
    background-color: rgba(0, 0, 0, 1);
}

/* End loading */

/* Start About us */

.breadcrumb-page {
    width: 100%;
    padding: 3px;
    background: #ffd700;
}

.breadcrumb {
    margin: 10px 0;
    background-color: #ffffff;
}

.breadcrumb>.active {
    color: #888;
}

.main_about img {
    height: 250px;
    /* width: 100%; */
}

.seconde_about {
    background: #f7f8fd;
    padding-top: 45px;
}

/* Start About us */

/* Start Blog */

.bloger {
    background: #F8F8F8
}

.news-post {
    margin-bottom: 20px
}

.img-box {
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.news-post img {
    width: 100%;
    height: 260px
}

.news-post h2 {
    margin-bottom: 5px;
    font-size: 16px;
}

.post-content-text {
    text-align: right;
    border: 1px solid #9d9d9d;
    padding: 18px 12px 50px;
    border-radius: 0 0 4px 4px;
}

.news-post h2 a {
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    color: #141414;
}

.news-post h2 a:hover {
    color: #ffd700
}

.author {
    color: #ffd700 !important;
    display: inline-block;
}

.news-post span {
    display: inline-block;
    font-size: 15px;
    color: #333;
    margin-left: 5px
}

.blog_infos {
    margin: 0px 0 10px;
    display: inline-block;
    color: #333
}

.blog_infos li {
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    border-right: 1px solid #9d9d9d;
}

.post-content-text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin: 0 0 6px 6px;
    text-align: justify
}

.img-caption {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(198, 150, 63, .5);
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.news-post:hover .img-box .img-caption {
    top: 0;
}

.search-widget {
    position: relative;
}

.search-form a {
    font-size: 14px;
    color: #AAA;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.btImageTextWidgetWraper ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .07)
}

.blog-details .btImageTextWidgetWraper ul li {
    display: block;
    width: auto;
    margin: 0;
    position: relative;
    padding: .8em 0;
    margin-left: 0;
}

.btImageTextWidget {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btImageTextWidget .btImageTextWidgetImage {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding-left: 10px;
}

.btImageTextWidgetImage a {
    display: block;
    line-height: 0;
}

.btImageTextWidgetImage a img {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    max-width: 100%;
    width: 100%;
    height: auto;
}

.btImageTextWidgetText {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    overflow: hidden;
}

.bt_bb_headline {
    position: relative;
}

.bt_bb_headline h4 {
    font-size: 15px
}

.bt_bb_headline_superheadline {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.bt_bb_headline .bt_bb_headline_content {
    display: block;
    color: inherit;
}

.bt_bb_headline .bt_bb_headline_content a {
    color: #000;
    margin-top: 4px;
    display: block;
}

.btBox ul li,
.btCustomMenu ul li,
.btTopBox ul li {
    display: block;
    width: auto;
    margin: 0;
    position: relative;
    padding: .8em 0;
    margin-left: 0;
}

.item-caption {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: white;
    right: 0;
    padding: 30px;
    position: absolute;
    width: 100%;
}

.item-caption p {
    position: absolute;
    top: 20px;
    text-align: center;
    display: block;
    left: 0;
    right: 0;
}

.blog-details .owl-controls {
    bottom: 15px;
    right: 30px;
    top: auto;
}

.blog-details .owl-theme .owl-controls .owl-buttons {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}

.new-pos img {
    height: 250px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffd700
}

/* 

.new-pos .owl-controls {
    position: absolute;
    bottom: 8px;
    left: 10px;
    top: auto;
}
.new-pos .owl-prev {
    float: left;
    margin: 0 4px;
    width: 36px;
    height: 36px;
    line-height: 41px;
    text-align: center;
    background: #ffd700 ;
    opacity: 1;
    border: 1px solid #ffd700 ;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .3s ease-in-out
}

.new-pos .owl-next {
    float: left;
    width: 36px;
    height: 36px;
    line-height: 41px;
    text-align: center;
    background: #ffd700 ;
    opacity: 1;
    border: 1px solid #ffd700 ;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .3s ease-in-out
}

.new-pos .owl-prev i,
.new-pos .owl-next i {
    font-size: 20px
}

.new-pos .owl-prev:hover,
.new-pos .owl-next:hover {
    background: #f0ad4e
} */

@media (max-width: 500px) {
    .col-xs-6 {
        width: 100%;
    }
}

.search-top h3 {
    font-size: 17px;
    padding: 8px 10px;
    background: #fcfcfc;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    color: #ffd700;
    border-radius: 4px;
}

.social-footer ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social-footer ul li {
    display: inline-block;
    width: 40px;
    height: 36px;
    border-radius: 3px;
    background: #363636;
    line-height: 36px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.social-footer ul li:first-child {
    background: #3b5999;
}

.social-footer ul li a {
    color: #fff;
    display: block;
}

.social-footer ul li i {
    color: #fff !important;
    padding-left: 0 !important
}

.social-footer ul li:first-child {
    background: #3b5999
}

.social-footer ul li:nth-of-type(2) {
    background: #55acee
}

.social-footer ul li:nth-of-type(3) {
    background: #cd201f
}

.social-footer ul li:nth-of-type(4) {
    background: #e4405f
}

.social-footer ul li:last-child {
    background: #0077B5
}

.social-footer ul li:hover {
    opacity: .8;
}

/* End Blog */

/* Start Contact us */

.contact {
    margin-top: 20px;
}

.address {
    margin-top: 40px;
}

.address li {
    font-size: 16px;
    margin-bottom: 8px;
}

.address i {
    font-size: 25px;
    vertical-align: middle;
    margin-left: 10px;
    color: #ffd700;
}

/* End Contact us */

/* Start register */

.login {
    max-width: 500px;
    margin: 0 auto;
}

.reg a {
    background: transparent;
    line-height: 38px;
    transition: .3s;
    font-size: 16px
}

.reg .btn-link1,
.reg .btn-link2 {
    color: #54555d;
    text-decoration: none
}

.btn-link2 {
    margin-right: 15px
}

.reg a:hover {
    color: #ffd700
}

/* End register */

/* Start Cart */

.row.pro-view {
    font-size: 15px
}

h3.head-title {
    font-size: 15px;
    color: #5a5a5a;
    padding: 13px;
    border: 1px solid #dddddd;
}

h3.head-title span:first-child {
    padding-left: 6px;
}

h3.head-title span+span {
    padding-right: 6px;
}

.cart-item label {
    font-weight: normal;
    margin-bottom: 6px;
}

.cart-item {
    /* margin-top: 10px; */
    padding: 10px;
    border: 1px solid #dddddd;
    background: #fcfcfc;
    position: relative;
}

.cart-item h3 {
    margin: 6px 0;
    font-size: 15px;
    line-height: 180%;
    color: #484848;
    margin-top: 0;
}

.cart-item a h3,
.cart-item a {
    text-decoration: none;
}

.cart-item h3 span {
    color: #484848;
    padding-left: 10px;
}

.cart-item .form-group {
    margin-bottom: 0;
}

.cart-item .form-control {
    border: 1px solid #dddddd;
}

.cart-item .moreat {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px
}

.cart-item p {
    color: #484848;
    font-size: 14px;
}

.cart-item p.deta {
    text-align: inherit;
    color: #5a5a5a;
}

.cart-item .morea1 {
    background: #484848;
    padding: 6px 18px;
    font-size: 14px;
}

.paymenty {
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #eeeeee;
    padding: 8px 0;
}

.cart-item .paymenty {
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 9px;
    margin-top: 5px;
}

h3.head-title.total {
    text-align: left;
    margin-top: 10px;
}

h3.head-title.total span {
    color: #ffd700;
}

p.price b {
    font-weight: normal;
    color: #ffd700;
    padding-left: 10px;
}

h3.head-title.total .text-left {
    text-align: right;
}

.cart-item img.icony {
    margin: 0 auto;
    display: block;
    width: 100px;
    margin-top: 10px;
}

a.closa {
    display: block;
    width: 30px;
    height: 30px;
    background: #5a5a5a;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
}

a.closa:hover {
    background: #ffd700;
}

a.moreat {
    background: #ffd700;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    border-radius: 4px
}

.moreat:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #484848;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 4px
}

.moreat {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.moreat:hover:before,
.moreat:focus:before,
.moreat:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

img.pro-im {
    height: 190px;
    max-width: 100%;
    margin-bottom: 10px;
}

/* End Cart */

/* Start Category */

.form-control {
    padding: 5px 12px
}

#sidebar h2.side-title {
    font-size: 16px;
    margin: 0;
    color: #649F87;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

#sidebar h3.side-title {
    font-size: 16px;
    padding: 10px;
    background: #fcfcfc;
    border: 1px solid #eeeeee;
    margin: 10px 0;
    margin-bottom: 10px;
    color: #484848;
}

.imagei img {
    height: 224px;
    width: 100%;
}

.product h3 {
    margin: 6px 0;
    font-size: 14px;
    line-height: 180%;
    color: #484848;
}

p.price {
    margin: 0;
    font-size: 14px;
    color: #5a5a5a;
}

p.price span {
    margin: 0;
    font-size: 14px;
    color: #484848;
    padding-left: 5px;
}

.shoppings .item {
    margin-bottom: 25px
}

.shoppings {
    margin-top: 20px
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
    border-right: 13px solid #ffd700;
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
    border-left: 13px solid #ffd700;
}

.sp-selected-thumbnail .sp-thumbnail {
    border: 2px solid #ffd700;
}

.sp-previous-arrow:before,
.sp-previous-arrow:after,
.sp-next-arrow:before,
.sp-next-arrow:after {
    background: #ffd700
}

.product p {
    margin: 0;
    font-size: 14px;
    color: #5a5a5a;
}

p.price {
    margin: 0;
    font-size: 14px;
    color: #5a5a5a;
}
p.price em {
    color: #EC625F;
    text-decoration: line-through;
    padding-right: 10px;
}
.filter-it h3 {
    margin: 6px 0;
    font-size: 15px;
    line-height: 180%;
    color: #484848;
}
/* End Category */